In [43]:
import pandas as pd
import numpy as np 
from itertools import groupby 
import gc
import pytz

In [45]:
train=pd.read_parquet('Zzzs_train_multi.parquet') 
#test=pd.read_parquet('/kaggle/input/child-mind-institute-detect-sleep-states/test_series.parquet') 
train.head(-5)

,series_id,step,timestamp,anglez,enmo,awake
0,08db4255286f,0,2018-11-05T10:00:00-0400,-30.845301,0.0447,1
1,08db4255286f,1,2018-11-05T10:00:05-0400,-34.181801,0.0443,1
2,08db4255286f,2,2018-11-05T10:00:10-0400,-33.877102,0.0483,1
3,08db4255286f,3,2018-11-05T10:00:15-0400,-34.282101,0.0680,1
4,08db4255286f,4,2018-11-05T10:00:20-0400,-34.385799,0.0768,1
...,...,...,...,...,...,...
16289810,c5d08fc3e040,395990,2018-03-30T11:59:10-0400,5.582900,0.0114,2
16289811,c5d08fc3e040,395991,2018-03-30T11:59:15-0400,3.017200,0.0000,2
16289812,c5d08fc3e040,395992,2018-03-30T11:59:20-0400,0.119400,0.0049,2
16289813,c5d08fc3e040,395993,2018-03-30T11:59:25-0400,-11.881600,0.0119,2
16289814,c5d08fc3e040,395994,2018-03-30T11:59:30-0400,0.241000,0.0020,2

In [55]:
def make_features(df):
    # parse the timestamp and create an "hour" feature
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df["hour"] = df["timestamp"].dt.hour
    
    periods = 50
    df["anglez"] = abs(df["anglez"])
    df["anglez_diff"] = df.groupby('series_id')['anglez'].diff(periods=periods).fillna(method="bfill").astype('float16')
    df["enmo_diff"] = df.groupby('series_id')['enmo'].diff(periods=periods).fillna(method="bfill").astype('float16')
    df["anglez_rolling_mean"] = df["anglez"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["enmo_rolling_mean"] = df["enmo"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["anglez_rolling_max"] = df["anglez"].rolling(periods,center=True).max().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["enmo_rolling_max"] = df["enmo"].rolling(periods,center=True).max().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["anglez_rolling_std"] = df["anglez"].rolling(periods,center=True).std().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["enmo_rolling_std"] = df["enmo"].rolling(periods,center=True).std().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["anglez_diff_rolling_mean"] = df["anglez_diff"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["enmo_diff_rolling_mean"] = df["enmo_diff"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["anglez_diff_rolling_max"] = df["anglez_diff"].rolling(periods,center=True).max().fillna(method="bfill").fillna(method="ffill").astype('float16')
    df["enmo_diff_rolling_max"] = df["enmo_diff"].rolling(periods,center=True).max().fillna(method="bfill").fillna(method="ffill").astype('float16')
    
    return df

features = ["hour",
            "anglez",
            "anglez_rolling_mean",
            "anglez_rolling_max",
            "anglez_rolling_std",
            "anglez_diff",
            "anglez_diff_rolling_mean",
            "anglez_diff_rolling_max",
            "enmo",
            "enmo_rolling_mean",
            "enmo_rolling_max",
            "enmo_rolling_std",
            "enmo_diff",
            "enmo_diff_rolling_mean",
            "enmo_diff_rolling_max",
           ]

In [64]:
train['timestamp'] = pd.to_datetime(train['timestamp'], utc=True)

In [65]:
train   = make_features(train)

X_train = train[features]
y_train = train["awake"]

# save some memory
del train
gc.collect();

In [47]:
demo = train[:200000]

In [48]:
demo = make_features(demo) 
x_train = demo[features]
y_train = demo['awake']

AttributeError: 'Series' object has no attribute 'astimezone'

In [41]:
demo.dtypes

series_id                                                   object
step                                                        uint32
timestamp                   datetime64[ns, pytz.FixedOffset(-240)]
anglez                                                     float32
enmo                                                       float32
awake                                                        int64
hour                                                         int64
anglez_diff                                                float16
enmo_diff                                                  float16
anglez_rolling_mean                                        float16
enmo_rolling_mean                                          float16
anglez_rolling_max                                         float16
enmo_rolling_max                                           float16
anglez_rolling_std                                         float16
enmo_rolling_std                                           float16
anglez_diff_rolling_mean                                   float16
enmo_diff_rolling_mean                                     float16
anglez_diff_rolling_max                                    float16
enmo_diff_rolling_max                                      float16
dtype: object

In [66]:
%%time

from sklearn.ensemble import GradientBoostingClassifier
classifier = GradientBoostingClassifier(n_estimators=50,
                                    max_depth=2,
                                    min_samples_leaf=300,
                                    random_state=42)

classifier.fit(X_train, y_train)
# save some memory
del X_train, y_train
gc.collect();

Wall time: 1h 40min 44s

15

In [67]:
import pickle as pkl

In [69]:
pkl.dump(classifier, open('model.pkl','wb'))

In [35]:
test  = pd.read_parquet("test_series.parquet")

# test  = make_features(test)

# X_test = test[features]

# test["not_awake"] = classifier.predict_proba(X_test)[:,0]
# test["awake"]     = classifier.predict_proba(X_test)[:,1]

AttributeError: Can only use .dt accessor with datetimelike values

In [42]:
test.dtypes

series_id     object
step          uint32
timestamp     object
anglez       float32
enmo         float32
dtype: object

In [40]:
x_train

,hour,anglez,anglez_rolling_mean,anglez_rolling_max,anglez_rolling_std,anglez_diff,anglez_diff_rolling_mean,anglez_diff_rolling_max,enmo,enmo_rolling_mean,enmo_rolling_max,enmo_rolling_std,enmo_diff,enmo_diff_rolling_mean,enmo_diff_rolling_max
0,10,30.845301,28.9375,34.937500,3.724609,-3.216797,-3.216797,-3.216797,0.0447,0.070129,0.197998,0.028885,0.066895,0.066895,0.066895
1,10,34.181801,28.9375,34.937500,3.724609,-3.216797,-3.216797,-3.216797,0.0443,0.070129,0.197998,0.028885,0.066895,0.066895,0.066895
2,10,33.877102,28.9375,34.937500,3.724609,-3.216797,-3.216797,-3.216797,0.0483,0.070129,0.197998,0.028885,0.066895,0.066895,0.066895
3,10,34.282101,28.9375,34.937500,3.724609,-3.216797,-3.216797,-3.216797,0.0680,0.070129,0.197998,0.028885,0.066895,0.066895,0.066895
4,10,34.385799,28.9375,34.937500,3.724609,-3.216797,-3.216797,-3.216797,0.0768,0.070129,0.197998,0.028885,0.066895,0.066895,0.066895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,1,12.994600,15.8750,18.015625,1.992188,-4.488281,-1.701172,0.497070,0.0100,0.008553,0.013802,0.001418,0.002600,0.001194,0.006302
79996,1,12.990400,15.8750,18.015625,1.992188,-4.417969,-1.701172,0.497070,0.0097,0.008553,0.013802,0.001418,0.002501,0.001194,0.006302
79997,1,12.991800,15.8750,18.015625,1.992188,-4.488281,-1.701172,0.497070,0.0100,0.008553,0.013802,0.001418,0.002600,0.001194,0.006302
79998,1,13.086500,15.8750,18.015625,1.992188,-4.496094,-1.701172,0.497070,0.0097,0.008553,0.013802,0.001418,0.002199,0.001194,0.006302
79999,1,13.035400,15.8750,18.015625,1.992188,-4.437500,-1.701172,0.497070,0.0099,0.008553,0.013802,0.001418,0.002899,0.001194,0.006302

In [52]:
test['timestamp'] = pd.to_datetime(test['timestamp'], utc=True)

In [53]:
test.dtypes

series_id                 object
step                      uint32
timestamp    datetime64[ns, UTC]
anglez                   float32
enmo                     float32
dtype: object

In [70]:
test = make_features(test)

In [71]:
X_test = test[features]

test["not_awake"] = classifier.predict_proba(X_test)[:,0]
test["awake"]     = classifier.predict_proba(X_test)[:,1]

In [72]:
# smoothing the predictions
smoothing_length = 2*230
test["score"]  = test["awake"].rolling(smoothing_length,center=True).mean().fillna(method="bfill").fillna(method="ffill")
test["smooth"] = test["not_awake"].rolling(smoothing_length,center=True).mean().fillna(method="bfill").fillna(method="ffill")
# re-binarize
test["smooth"] = test["smooth"].round()

# https://stackoverflow.com/questions/73777727/how-to-mark-start-end-of-a-series-of-non-null-and-non-0-values-in-a-column-of-a
def get_event(df):
    lstCV = zip(df.series_id, df.smooth)
    lstPOI = []
    for (c, v), g in groupby(lstCV, lambda cv: 
                            (cv[0], cv[1]!=0 and not pd.isnull(cv[1]))):
        llg = sum(1 for item in g)
        if v is False: 
            lstPOI.extend([0]*llg)
        else: 
            lstPOI.extend(['onset']+(llg-2)*[0]+['wakeup'] if llg > 1 else [0])
    return lstPOI

test["event"] = get_event(test)

In [59]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy = accuracy_score()

In [60]:
from sklearn.metrics import classification_report

In [62]:
test['awake']

0      0.011853
1      0.011853
2      0.011853
3      0.011853
4      0.011853
         ...
445    0.009544
446    0.009544
447    0.009544
448    0.009544
449    0.009544
Name: not_awake, Length: 450, dtype: float64

In [73]:
test['awake']

0      0.803003
1      0.803003
2      0.803003
3      0.803003
4      0.803003
         ...
445    0.885223
446    0.885223
447    0.884653
448    0.884653
449    0.884653
Name: awake, Length: 450, dtype: float64

In [76]:
test[test['event']==0]

,series_id,step,timestamp,anglez,enmo,hour,anglez_diff,enmo_diff,anglez_rolling_mean,enmo_rolling_mean,...,enmo_rolling_std,anglez_diff_rolling_mean,enmo_diff_rolling_mean,anglez_diff_rolling_max,enmo_diff_rolling_max,not_awake,awake,score,smooth,event
0,038441c925bb,0,2018-08-14 19:30:00+00:00,2.636700,0.0217,19,77.375000,-0.007896,44.4375,0.018097,...,0.009193,77.375000,-0.007896,77.375,-0.007896,0.020588,0.803003,NaN,NaN,0
1,038441c925bb,1,2018-08-14 19:30:05+00:00,2.636800,0.0215,19,77.375000,-0.007896,44.4375,0.018097,...,0.009193,77.375000,-0.007896,77.375,-0.007896,0.020588,0.803003,NaN,NaN,0
2,038441c925bb,2,2018-08-14 19:30:10+00:00,2.637000,0.0216,19,77.375000,-0.007896,44.4375,0.018097,...,0.009193,77.375000,-0.007896,77.375,-0.007896,0.020588,0.803003,NaN,NaN,0
3,038441c925bb,3,2018-08-14 19:30:15+00:00,2.636800,0.0213,19,77.375000,-0.007896,44.4375,0.018097,...,0.009193,77.375000,-0.007896,77.375,-0.007896,0.020588,0.803003,NaN,NaN,0
4,038441c925bb,4,2018-08-14 19:30:20+00:00,2.636800,0.0215,19,77.375000,-0.007896,44.4375,0.018097,...,0.009193,77.375000,-0.007896,77.375,-0.007896,0.020588,0.803003,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0402a003dae9,145,2018-12-18 17:57:05+00:00,59.696899,0.0601,17,52.625000,0.042786,44.3125,0.042542,...,0.015564,9.828125,-0.029099,52.625,0.064514,0.015746,0.885223,NaN,NaN,0
446,0402a003dae9,146,2018-12-18 17:57:10+00:00,35.656601,0.0427,17,5.003906,0.018707,44.3125,0.042542,...,0.015564,9.828125,-0.029099,52.625,0.064514,0.015746,0.885223,NaN,NaN,0
447,0402a003dae9,147,2018-12-18 17:57:15+00:00,21.582399,0.0309,17,-18.968750,-0.601562,44.3125,0.042542,...,0.015564,9.828125,-0.029099,52.625,0.064514,0.016380,0.884653,NaN,NaN,0
448,0402a003dae9,148,2018-12-18 17:57:20+00:00,42.616001,0.0328,17,-5.753906,-0.058014,44.3125,0.042542,...,0.015564,9.828125,-0.029099,52.625,0.064514,0.016380,0.884653,NaN,NaN,0
449,0402a003dae9,149,2018-12-18 17:57:25+00:00,7.029900,0.0081,17,-42.000000,-0.024597,44.3125,0.042542,...,0.015564,9.828125,-0.029099,52.625,0.064514,0.016380,0.884653,NaN,NaN,0